#p1{
    margin-left:200px;
    margin-top:30px;
}
input{
    width:140px;
    height:20px;
}
#showParagraph1{
    font-size:20px;
    font-family: cursive;

}
span{
    font-size:20px;
    font-family:monospace
}
button{
    font-size:13px;
    margin-left:20px;
    margin-top:10px;
    font-family:monospace;
}
#p2{
    margin-left:200px;
    margin-top:30px;
}
#p3{
    margin-left:200px;
    margin-top:30px;
}

